<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="ModInstitucion" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

 

  <ModInstitucion>
    <add key="ParametroCaduca" value="37" />
    <add key="IdentificadorSistema" value="13" />
    <add key="RutaVirtual" value="ModInstitucion" />
    <add key="IdentificadorOrigen" value="2" />
    <add key="PathReportes" value="D:\Sename\Mod_InstitucionProyecto\Mod_InstitucionProyecto\Reportes\" />
  </ModInstitucion>

  <appSettings>
    <add key="SubjectMail" value="Verificación Sitio SENAME"/>
    <add key="UrlValidaCorreo" value="/ValidarCorreo.aspx"/>
    <add key="URLBase" value="https://test-sso.senainfo.cl"/>
    <add key="PasswordSendMail" value="Test"/>
    <add key="UsernameSendMail" value="Test"/>
  </appSettings>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="4196000">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>

  <connectionStrings>
    <!--Test-->
    <add name="ConexionesSS" connectionString="Data Source=sql003.senainfo.cl;Initial Catalog=loginsenainfoTest;Persist Security Info=True;User ID=SenainfoAppTest;Password=S3nainfoAppT3st587603" providerName="System.Data.SqlClient" />
    <add name="SENAINFOCONN" connectionString="Data Source=sql003.senainfo.cl;Initial Catalog=loginsenainfoTest;Persist Security Info=True;User ID=SenainfoAppTest;Password=S3nainfoAppT3st587603" providerName="System.Data.SqlClient" />
    <add name="Conexiones" connectionString="Data Source=sql003.senainfo.cl;Initial Catalog=SenainfoTest;Persist Security Info=True;User ID=SenainfoAppTest;Password=S3nainfoAppT3st587603" providerName="System.Data.SqlClient" />

    <!--Certificacion-->
    <!--<add name="ConexionesSS" connectionString="Data Source=si-sql003.cloudapp.net;Initial Catalog=loginsenainfoCertificacion;Persist Security Info=True;User ID=sa;Password=@ndr0meda" providerName="System.Data.SqlClient" />
    <add name="SENAINFOCONN" connectionString="Data Source=si-sql003.cloudapp.net;Initial Catalog=loginsenainfoCertificacion;Persist Security Info=True;User ID=sa;Password=@ndr0meda" providerName="System.Data.SqlClient" />
    <add name="Conexiones" connectionString="Data Source=si-sql003.cloudapp.net;Initial Catalog=SenainfoCertificacion;Persist Security Info=True;User ID=sa;Password=@ndr0meda" providerName="System.Data.SqlClient" />-->
    
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SendMailSENAINFOSoap" />
        <binding name="SeguridadSENAINFOSoap" maxBufferPoolSize="20000000"
                 maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
                        maxArrayLength="200000000" />
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>

      <!--Test-->
      <endpoint address="https://ws-lsid.senainfo.cl/SeguridadSENAINFO.asmx"
                binding="basicHttpBinding" bindingConfiguration="SeguridadSENAINFOSoap"
                contract="SeguridadSENAINFO.SeguridadSENAINFOSoap" name="SeguridadSENAINFOSoap" />

      <!--Certificacion-->
      <!--<endpoint address="https://ws-lsic.senainfo.cl/SeguridadSENAINFO.asmx" binding="basicHttpBinding" bindingConfiguration="SeguridadSENAINFOSoap" contract="SeguridadSENAINFO.SeguridadSENAINFOSoap" name="SeguridadSENAINFOSoap" />-->

      <endpoint address="http://test-send.senainfo.cl/sendmailsenainfo.asmx"
                binding="basicHttpBinding" bindingConfiguration="SendMailSENAINFOSoap"
                contract="SendMailSENAINFO.SendMailSENAINFOSoap" name="SendMailSENAINFOSoap" />
    </client>
  </system.serviceModel>

</configuration>
